body{
    font-size: 14px;
}
a{
    font-size: 14px;
}
h1{
    font-size: 32px;
    margin-top: 10px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 18px;
}
section{
    padding: 100px 10px;
}
section:nth-child(3){
    padding-top: 40px;
}
section:last-child{
    padding-bottom: 0;
}
section h3{
    margin-top: 0px;
}
.wrapper{
    padding: 0;
}
.wrapper p:last-child{
    margin-bottom: 0;
}
#main_header{
    height: 50px;
    line-height: 50px;
}
#main_header .btn-home{
    width: calc(100% / 4);
    height: 50px;
    margin: 0 auto;
}
#main_header .btn-toggle,
#main_header .btn-close{
    top: 12px; right: 20px;
    background: none;
    border: none;
    color: #fff;
    visibility: hidden;
}
#main_header .btn-toggle.show,
#main_header .btn-close.show{
    visibility: visible;
}
#gnb{
    top: 50px;
    background: #224361;
    height: 0; opacity: 0;
    transition-duration: .4s;
    overflow: hidden;
}
#gnb.show{
    height: 50px; opacity: 1;
}
#gnb.visible{
    overflow: visible;
}
#gnb li{
    width: calc(100% / 4); height: 50px;
}
#gnb li a{
    height: 50px;
}
#gnb .depth2 li{
    width: 100%;
}
#gnb .depth2 img{
    width: 40%;
    padding-top: 15px;
}
#gnb .depth2.show{
    height: 200px;
}
#main_visual{
    padding-top: 100px;
}
#main_visual img:first-child{
    width: 40px;
    margin-top: 10px; margin-right: 10px;
}
#main_visual figcaption{
    margin-top: 10px;
    font-size: 12px;
}
#main_visual h2{
    margin-top: 16px;
}
#main_visual h3{
    margin-top: 10px;
}
#main #main_visual h3,
#validation #main_visual h3{
    margin-top: 0; margin-left: 10px;
}
#main_visual a{
    font-size: 10px;
}
#main_visual .btn-url a{
    font-size: 14px;
}
#gallery{
    padding-bottom: 0;
}
#gallery .btn-more p,
#gallery .btn-hide p{
    font-size: 14px;
}
#about{
    padding-top: 40px;
}
#about h4{
    margin-top: 40px; margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}
#about p{
    margin-bottom: 0;
}
#about figcaption{
    margin-bottom: 20px;
}
#about .wrapper P{
    margin-bottom: 0;
}
#about .col_6{
    margin-bottom: 40px;
}
#about li{
    width: 40px;
}
#about ul:last-child li:first-child{
    width: 80px;
}
#main_footer{
    height: 50px;
    font-size: 12px;
    line-height: 1.5em;
    padding: 5px;
}
#main_footer a{
    font-size: 12px;
}
#main_footer a,
#main_footer address{
    display: inline-block;
}
#project_bean #analyse .col_4{
    width: calc((100% / 12 * 6) - 10px);
    margin-left: 3px;
    margin-right: 3px;
}
#project_bean #draft .col_2{
    position: absolute;
}
#project_bean #draft .col_6{
    width: calc((100% / 12 * 6) - 6px);
}
#project_bean #draft .col_4{
    width: calc((100% / 12 * 6) - 6px);
}
#project_bean #draft .col_4:nth-child(4){
    clear: both;
}
#validation p{
    font-size: 12px;
}
#validation #main_visual a{
    font-size: 12px;
}
#validation #main_visual .notice{
    top: 55px; right: 5px;
}
#validation #main_visual .notice input{
    margin-bottom: 2px;
}
#validation #main .container{
    margin-top: 40px;
}
#validation #main .container:last-child{
    margin-top: 60px;
}
#validation .logo_w3c img{
    width: 140px;
}
#validation .checked img{
    width: 20px;
}
#validation #main .col_2>img{
    width: 40px;
}