*{
    margin: 0; padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    color: #333;
    line-height: 1.6em;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    display: block;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 48px;
    margin-top: 40px;
    float: left;
    text-shadow: 3px 3px 6px #707070;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
    margin-bottom: 40px;
}
h1, h2, h3{
    font-weight: 900;
}
p{
    font-size: 16px;
    font-weight: 500;
}
address{
    font-style: normal;
    display: inline;
}
section{
    width: 100%;
    padding: 120px 10px;
}
section img{
    width: 100%;
}
figcaption{
    font-size: 12px;
}
.active{
    background: #dc6445;
}
.wrapper{
    padding: 0 60px;
}
#main_header{
    width: 100%; height: 80px;
    line-height: 80px;
    background: #224361;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    position: fixed;
    box-shadow: 0 1px 6px #000;
    z-index: 999;
}
#main_header > .container{
    /* 위치 기준 지정 ok? 
    depth2가 안보 아...*/
    position: relative;
    overflow: visible;
    /* 여기서는 보이는 것으로... 넵*/
}
#main_header .btn-toggle,
#main_header .btn-close{
    position: absolute;
    top: 0; right: 0;
    visibility: hidden;
}
#main_header a{
    color: #fff;
    display: block;
}
#main_header a:hover{
    background: #dc6445;
}
#main_header .btn-home{
    float: left;
    width: 120px; height: 80px;
}
/*gnb*/
#gnb{
    position: absolute;
    top: 0; right: 0;
}
#gnb li{
    width: 120px; 
    height: 80px;
}
/*depth1*/
#gnb .depth1 li{
    float: left;
}
/*depth2*/
#gnb .depth2{
    background: rgba(229, 207, 98, .9);
}
#gnb .middle li{
    border-left: 1px solid rgba(255, 255, 255, .9);
    border-right: 1px solid rgba(255, 255, 255, .9);
}
/*mouseout - default(hidden)*/
#gnb .depth2{
    height: 0;
    opacity: 0;
    transition-duration: .6s;
    overflow: hidden;
}
/*mouseover*/
#gnb .depth2.show{
    height: 240px;
    opacity: 1;
}
#main_visual{
    padding-bottom: 0;
}
#main_visual .container:first-child{
    overflow: visible;
}
#main_visual h2{
    margin-top: 44px;
    float: left;
}
#main #main_visual h3,
#validation #main_visual h3{
    margin: 30px 20px 0;
    float: left;
}
#gallery h3{
    display: none;
}
#gallery li{
    /* box-shadow: 1px 1px 3px #707070; */
    /* border: 1px solid #ccc; */
    transition-duration: .4s;
}
#gallery ul.row1 .frame li:first-child,
#gallery ul.row1 .frame li:last-child{
    background: #FCE4EC;
}
#gallery ul.row1 .frame li:nth-child(2),
#gallery ul.row1 .frame li:nth-child(3){
    background: #fbe9d4;
}
#gallery ul.row2 .frame li:first-child,
#gallery ul.row2 .frame li:last-child{
    background: #FCE4EC;
}
#gallery ul.row2 .frame li:nth-child(2),
#gallery ul.row2 .frame li:nth-child(3){
    background: #E0F2F1;
}
#gallery .frame{
    box-shadow: none;
    border: none;
    background: none;
}
/* gallery more button*/
#gallery .row2,
#gallery .btn-more,
#gallery .btn-hide{
    display: none;
}
#gallery .row2.show,
#gallery .btn-more.show,
#gallery .btn-hide.show{
    display: block;
}
#gallery .btn-more,
#gallery .btn-hide{
    text-align: center;
    color: #ccc;
    cursor: pointer;
}
#about{
    clear: both;
    color: #fff;
    background: #224361;
}
#about h3{
    margin-top: 60px;
}
#about h3:first-child{
    margin-top: 0;
}
#about .container .col_6 h3{
    padding-top: 0;
}
#about h4{
    margin-top: 20px; margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
#about a{
    color: #fff;
}
#about p:last-child{
    margin-bottom: 120px;
}
#about figcaption{    
    margin-bottom: 120px;
}
#about .wrapper P{
    margin-bottom: 40px;
}
#about ul{
    clear: both;
}
#about li{
    width: 60px;
    float: left;
    margin-right: 40px; margin-bottom: 40px;
}
#about li:last-child{
    margin-right: 0;
}
#about ul:last-child li:first-child{
    width: 120px;
    margin-bottom: 0;
}
#main_footer{
    clear: both;
    width: 100%; height: 50px;
    line-height: 50px;
    text-align: center;
    background: #224361;
    color: #fff;    
    font-size: 12px;
}
#main_footer a{
    color: #fff;
}
/*
질문
그리드 시스템으로 왼쪽 시안 이미지처럼 썸네일을 구성하고 싶은데
두번째 줄이 잘 안되요
 -> 좌우를 크게 구분해서 끼워 넣으면 됩니다.
    첫번째 행: 좌, 우
    두번째 행: 좌, 우
    이거 기존 코드 수정 말고 간단한 예제로 먼저 보는게 좋을 것 같음(이건 좀 있다 예제로)

그리고 xd 링크공유방법 한참찾았는데 도저히 모르겠어서 한번 알려주실수 있을까요
  -> XD를 실행해주세요

  어떻게 하신건가요 --> share(공유) --> create link(update line)넵
*/

/*
질문
섹션 사이 그리고 컨테이너 사이 위아래 간격을 두고싶은데 패딩 마진이 적용이 안되요
시안은 가상 데스크탑 (ctrl+window키+방향키 왼쪽)에 있습니다
*/
/*scroll to top*/
#main_footer .container:last-child{
    position: relative;
}
#btn-top{
    position: fixed;
    bottom: 40px; right: 40px;
    display: none;
}
#btn-top.show{
    display: block;
}
.fa-angle-double-up{
    color: #ccc;
    opacity: .6;
}
/*validation*/
#validation p{
    font-weight: 900;
}
#validation #main_visual .notice{
    position: absolute;
    top: 100px; right: 20px;
    text-align: right;
}
#validation #main_visual .notice a{
    text-decoration: underline;
}
#validation #main{
    padding-bottom: 0;
}
#validation #main .container{
    margin-top: 60px;
    text-align: center;
}
#validation #main .container:last-child{
    margin-top: 120px;
}
#validation .container img{
    width: 200px;
    display: block;
    margin: 0 auto;
}
#validation .checked{
    margin-top: 10px;
    text-align: center;
}
#validation .checked img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
#validation .checked p{
    display: inline-block;
}
#validation #main .col_8{
    text-align: center;
}
#validation #main .col_8 p:nth-child(3){
    margin-bottom: 20px;
}
#validation #main .col_2>img{
    width: 60px;
    display: block;
    margin: 0 auto;
}